@font-face{
    font-family: "accidpre";
    src: url("Accid.ttf");
}

@font-face {
    font-family: Bluebery ;
    src: url("Bluebery.ttf");
}
svg{
    margin-top: -8rem;
    position: relative;
    z-index: 1;
}

.navbar{
    position: relative;
    z-index: 3;
}

#Intro{
    padding-top: 2rem;
    background-color: #46dbcc;
    position: relative;
    z-index: 2;
}
.text-justify{
    text-align:justify;
}
.wapes{
    padding-top: -500p;
}
.navbar-brand{
    font-family: Bluebery;
    letter-spacing: .2rem;
}
.col {
    padding-top: 1rem;
}
.clsint{
    font-size: 4rem;
    font-family: accidpre;
}